**.exe
**/tempCodeRunnerFile.cpp
**/shaders_generated.h
**/shaders_generated.cpp

.vscode/
.cache/
build/
cmake-build-debug/
cmake-build-release/
.idea/

DummyEngine/Presets

Sandbox/imgui.ini
Sandbox/DummyEditor
Sandbox/Logs/**
Sandbox/Shaders/**
Sandbox/Cache/**
Sandbox/**.dll
Sandbox/**.a
Sandbox/**.dylib
Sandbox/**.so**
Sandbox/*.yml

